@tailwind base;
@tailwind components;
@tailwind utilities;

.print-color-adjust {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.score-window {
  position: relative;
  display: flex;
  font-size: 8rem /* 128px */;
  line-height: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  height: 113px;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.gray-zeros {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.15em;
  color: rgb(203 213 225 / var(--tw-text-opacity));
  --tw-text-opacity: 0.25;
  margin-right: -0.15em;
}
